
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme</title>
</head>
<body>
</body>
</html>
@{
    var deger = "<b>merhaba</b>";

 }
@Html.Raw(deger)
@deger
